html {
	font-size: 10px;
}
body {
	background: $blgr9 url('../images/graphpapers/graphpaper-material-dark.png') repeat fixed;
	color: $teal;
	font-family: $sans;
	font-size: 1.6rem;
	line-height: 1.5;
	// background: $base3 url('../images/graphpapers/graphpaper-solarized-light.png') repeat fixed;
	// color: $base00;
}
a, a:visited {
	color: $yellow;
}
h1 {
	font-size: 4rem;
}