



.dl-sandbox {
	.jumbotron {
		text-align: center;
		border: 1px solid $blgr5;
		background-color: rgba($blgr9, .50);
		// padding: 30px;
		margin: 20px auto;
		// width: 80%;
		// min-width: 300px;
		// border-radius: 10px;
		.dl-logo {
			width: 200px;
			transition: transform 0.25s ease 0s;
			path {
				fill: $teal;
			}
			&:hover {
				transition: transform 0.25s ease 0s;
				transform: scale(1.2);
				path {
					fill: $teal;
				}
			}
		}
		h1 {
			margin: 20px 0;
			font-size: 4rem;
		}
		p {
			margin: 10px 0;
			font-size: 1.6rem;
		}
		@media (min-width: 768px) {

		}
		@media (min-width: 992px) {
			// padding: 40px 60px;
			margin: 40px auto;
			// max-width: 1200px;
		}
	}
	.main {
		h2 {
			font-size: 2.6rem;
			color: $teal;
		}
	}
	.projects, .sidebar {
		border: 1px solid $blgr5;
		background-color: rgba($blgr9, .50);
		border-radius: 6px;
		padding: 20px 15px;
	}
	.projects>p{
		margin-bottom: 20px;
	}
	.project-card {
		margin-bottom: 30px;
		border: 1px solid $blgr5;
		border-left: 5px solid $blgr6;
		padding: 10px;
		border-radius: 5px;
		font-size: 1.4rem;
		font-weight: 200;
		line-height: 1.6;
		h3 .btn-primary {
			font-size: 2.1rem;
			font-weight: 600;
			color: $teal;
			background-color: transparent;
			border: 1px solid $teal;
			&:hover {
				color: $yellow;
				text-decoration: none;
				border: 1px solid $yellow;
			}
		}
		strong {
			font-weight: 600;
			color: $green;
		}
		p {
			margin: 10px 0;
		}
		a:hover {
			font-weight: 600;
		}
	}
	footer {
		margin: 20px auto;
		@media (min-width: 768px) {

		}
		@media (min-width: 992px) {
			// padding: 40px 60px;
			margin: 40px auto;
			// max-width: 1200px;
		}
		.copyright {
			text-align: center;
			@media (min-width: 992px) {
				text-align: left;
				line-height: 6rem;
			}
		}
		.social-links {
			text-align: center;
			margin-top: 20px;
			@media (min-width: 992px) {
				text-align: right;
				margin-top: 0;
			}
		}
	}
}