.social-links {
	svg {
		width: auto;
		path {
			fill: $teal;
		}
	}
	.social-link {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid $teal;
		background-color: rgba($blgr9, .50);
		display: inline-block;
		padding: 5px;
		margin: 5px 2px;
		transition: transform 0.25s ease 0s;
		&:hover {
			transition: transform 0.25s ease 0s;
			transform: scale(1.2);
			color: $yellow;
			border: 1px solid $yellow;
			path {
				fill: $yellow;
			}
		}
	}
}
.four-o-four {
	.jumbotron {
		font-size: 1.4rem;
		h1 {
			font-size: 8rem;
			line-height: 1;
		}
		h2 {
			font-size: 3rem;
		}
		h3 { font-size: 2.4rem; }
		.btn {
			background-color: transparent;
			color: $yellow;
			border: 1px solid $yellow;
			margin: 20px 0;
			&:hover {
				font-weight: 600;
				text-decoration: underline;
			}
		}
	}
}
.thoughts {
	p {
		font-family: $cursive;
		font-size: 3rem;
	}
	.author {
		text-align: right;
		margin-top: 15px;
	}
}