$sans: 'Open Sans', sans-serif;
$mono: 'Inconsoloata', monospace;
$cursive: 'Indie Flower', cursive;

//$blue: #1a43b2;
$white: #ffffff;

// Solarized Color Palette
$base03:    #002b36; //darkest
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3; //lightest
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Material Theme Palette
$teal:		#80CBC4;
$blgr9:		#263238;
$blgr8:		#37474F;
$blgr6:		#546E7A;
$blgr5:		#607D8B;